{% extends "head.jinja2" %}
{% block content %}
    <div class="starter-template">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="content">
              <h1><span class="font-semi-bold">sirocco mobile</span> <span class="smaller">Zadanie</span></h1>
              <ul>
                  <li>
                    <a href="{{request.route_path('auth_login')}}">
                        Autoryzacja oraz authentykacja
                    </a>
                  <li>
                      <a href="{{request.route_path('auth_logout')}}">
                          Logout (w celach testowych)
                      </a>
                  </li>
                  </li>
                  <li>Tabelka</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="links">
            <ul>
              <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="https://github.com/socek/sm">Github Project</a></li>
          </div>
        </div>
        <div class="row">
          <div class="copyright">
            Copyright &copy; SokoSoft Dominik Długajczyk
          </div>
        </div>
      </div>
    </div>
{% endblock %}
