{% extends "templates/head.jinja2" %}
{% block css %}
    <link href="{{request.static_url('sm:static/admin.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="parent">
        <div class="left"></div>
        <div class="right"></div>
    </div>
{% endblock %}
