{% extends "templates/head.jinja2" %}
{% block css %}
    <link href="{{request.static_url('sm:static/user.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="parent">
    <div class="singlebox"></div>
</div>
{% endblock %}
